Package            Version
------------------ -----------
async-timeout      5.0.1
certifi            2025.6.15
charset-normalizer 3.4.2
Faker              37.4.0
idna               3.10
numpy              2.2.6
pandas             2.3.0
pip                22.0.2
psycopg2-binary    2.9.10
python-dateutil    2.9.0.post0
python-dotenv      1.1.0
pytz               2025.2
redis              6.2.0
requests           2.32.4
setuptools         59.6.0
six                1.17.0
spotipy            2.25.1
tzdata             2025.2
urllib3            2.5.0
